@use '@/styles' as s;

.container{
  width: 100%;

  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :global{

    .wrapper {
      margin: 0 auto;
      width: 100%;
      max-width: s.f-unit(23rem);
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      gap: s.f-unit(1rem);

      .title {
        text-align: center;
      }

      .form{
        width: 100%;
        display: flex;
        flex-flow: column;
        gap: .5rem;


        h4{
          margin-bottom: 0;
        }

        .fs{
          width: 100%;
          //padding: 1rem;
          padding-top: s.f-unit(1.5rem);

          border-radius: 10px;
          & > legend{
            padding: 0 .5rem;
          }
        }

        .feat_types{
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-bottom: s.f-unit(2.1rem);

          button{
            position: relative;
            border: none;
            background-color: transparent;
            padding: .7rem 22px;
            flex: 1;
            cursor: pointer;
            border-radius: 5000px;


            .border{
              position: absolute;
              //border: 2px solid lightgray;
              border: 1px solid rgba(121, 99, 240, 0.5);
              inset: 0;
              border-radius: 5000px;
            }
          }
        }

        .feat_items{
          display: flex;
          flex-flow: column;
          margin-top: 1rem;

          & > div{
            display: flex;
            flex-flow: column
          }

          & > *{
            color: s.$clrs-secondary;
          }
        }

        .hor{
          width: 100%;
          display: flex;
          gap: .5rem;

          & > * {
            flex: 1;
          }

          .drive{
            flex: 1.5;
          }
          .fuel{
            flex: 1.2;
          }
        }

        .chips{
          display: flex;
          flex-wrap: wrap;
          gap: .3rem;
          width: 100%;
          //max-height: 150px;

          .chip{
            &:hover{
              background-color: rgba(121, 99, 240, 0.18);
            }
          }

          }
      }

      .control{
        width: 100%;
        margin-top: s.f-unit(2rem);
        display: flex;
        justify-content: space-between;

        button{
          padding-left: 2.1rem;
          padding-right: 2.1rem;
        }
      }
    }
  }
}

.checked{
  color: lighten(black, 30) !important;

}

button.active{
  //color: lighten(black, 30);
}
