@use '@/styles' as s;

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  place-items: center;
  //border: thick solid red;
   @include s.padding(top, 4rem);
  @include s.padding(hor, 2rem );
  // @include s.padding(bottom, 8rem);

  & :global {

    .animator {
      width: 100%;
      //border: thin solid red;

      & > *{
        //border: thin dashed saddlebrown ;

        //min-width: s.f-unit(30rem);

      }
    }

    .container_wrapper {
      width: 100%;
      max-width: 1200px;
      display: flex;
      align-items: flex-start;
      gap: 5vmin;

      //border: thin solid red;

      .main_content{
        //border: thin solid red;
        display: flex;
        align-items: center;
        align-self: center;

        padding: 10px;


        form{
          //width: 100%;
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          //border: thin solid teal;

          min-width: 50rem;
        }
        //flex: 6;
      }

      & > *{
        //flex: 1;
        //border: thin solid teal;
      }

    }
  }

  .control_btn {
    width: 100%;
    max-width: s.f-unit(26rem);
    margin: s.f-unit(5rem) 0 auto;
    display: flex;
    justify-content: space-between;

    & :global{
      button {
        //flex: 1;
        padding-left: 2.1rem;
        padding-right: 2.1rem;
      }
    }
  }
}

.alone{
  flex: 1;
}

