@use '@/styles' as s;

.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: s.f-unit(1rem);

  background-color: rgba(0, 128, 128, 0.13);

  //border: thin solid red;

  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :global{

    .wrapper{

    }
  }
}
