@use '@/styles' as s;

.container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  @include s.padding(.8rem, 2rem);

  //background-color: rgba(121, 99, 240, 0.08);
  background-image: linear-gradient(rgba(121, 99, 240, 0.08), rgba(121, 99, 240, 0));

  backdrop-filter: blur(3px);

  //border: thin solid red;
  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :global {
    .wrapper {

    }

    .logo {
      //@include s.height_width(2.5rem, 2.5rem);
    }

    .tools {
      display: flex;
      align-items: center;
      gap: 1rem;

      button {
        border-radius: 5000px;
      }

    }
  }
}
