@use '@/styles' as s;

.container {
  width: 100%;

  //border: thin solid teal;


  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :global {

    .wrapper {
      margin: 0 auto;
      width: 100%;
      max-width: 20rem;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: flex-start;
      gap: s.f-unit(2rem);


      //border: thin solid red;

      .title {
        text-align: center;
        font-weight: 900;
      }

      .form {
        width: 100%;
        display: flex;
        flex-flow: column;
        gap: 1rem;

        .checkbox{
          justify-content: space-between;
        }

        .controller{
          display: flex;
          gap: 2rem;
          margin-bottom: s.f-unit(2rem);
          display: none;

          button{
            position: relative;
            border: none;
            //border-radius: 10px;
            //background-color: transparent;
            //padding: .7rem 22px;
            white-space: nowrap;
            flex: 1;
            cursor: pointer;

            .border{
              position: absolute;
              border: 1px solid rgba(121, 99, 240, 0.5);
              inset: 0;
              border-radius: 5000px;
            }
          }

        }

        .content{

          display: flex;
          flex-flow: column;


          label{
            margin-left: 0;
          }

          & > *{
            display: flex;
            flex-flow: column;
            gap: 1rem;
          }

          .MuiFormHelperText-root{
            max-width: 40ch;
            margin-bottom: s.f-unit(.8rem);
            line-height: 140%;
          }

          .col{
            display: flex;
            flex-flow: column;
            margin-bottom: s.f-unit(.6rem);




            .col_input{
              width: 100%;
              margin: -8px auto 0;
            }

          }

        }
      }


    }
  }
}
