@use '@/styles' as s;

.signup_header {
  width: 100%;
  display: grid;
  place-items: center;
  border-bottom: 1px solid #f1efef;
  //padding: s.f-unit(.5rem) 0;
  margin-bottom: s.f-unit(1rem);


  & :global {
    .title {
      text-transform: capitalize;
      //margin-top : 0;
    }
  }
}

.prov_btn {
  text-transform: capitalize;


  & > :first-child {
    //margin-right: auto;
    //position: absolute;
    //left: 4%;
  }

  & > :last-child {
  }
}

.no_account {
  width: 100%;
  background-color: s.$clrs-accent-light;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: s.f-unit(.2rem);
  margin-top: auto;

  p {
    color: gray;
    //margin-bottom: 0;
  }
}

@mixin scaffold($arg : null) {

  width: 100%;
  max-width: s.f-unit(28rem);
  transform: scale(.9);
  background-color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 10px;


  & :global {

    .wrapper {
      width: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;

      @include s.padding(1.5rem, 2rem);

      //border: thin solid red;

      .title {
        margin-top: 0;
        font-weight: 900;
      }


      .content {
        width: 100%;
        display: flex;
        flex-flow: column;
        gap: s.f-unit(1rem);

        //border: thin solid red;

        .form {
          display: flex;
          flex-flow: column;
          gap: s.f-unit(.8rem);


          @content


        }

        .or {
          display: block;
          position: relative;
          width: 100%;
          text-align: center;
          z-index: 2;
          background-color: #e1e1e1;
          height: 2px;
          margin: 1rem 0;

          p {
            position: absolute;
            margin: 0;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            background-color: white;
            z-index: 1;
            display: inline-block;
            padding: 0 1rem;
            color: #bdbcbc;

          }
        }

        .providers {
          display: flex;
          flex-flow: column;
          gap: s.f-unit(.4rem);
        }

      }



    }

    .hor{
      display: none;
    }
  }

}


