@use '@/styles' as s;

.container {
  width: 100%;
  z-index: 1000;
  display: grid;
  place-items: center;
  height: 100vh;
  border: thin solid red;

  position: fixed;
  inset: 0;


  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :global {

    .blur{
      position: absolute;
      inset: 0;
      background-color: lighten(rgba(0, 0, 0, 0.2), 20);
      backdrop-filter: blur(5px);
    }

    .wrapper {
      width: 100%;
      //margin: 0 auto;
      display: grid;
      place-items: center;

    }
  }
}

.thank_you{
}


