@use '@/styles' as s;

.container{
  width: 100%;
  display: grid;
  place-items: center;

  border: thin solid red;


   @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :global{

    h1{
      //font-weight: 900;
      font-family: s.$fonts-gramatika;
      font-weight: 900;
      color: lightgray;
    }

    .wrapper{

    }
  }
}
