@use '@/styles' as s;

.container{
  width: 100%;

  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);
  display: grid;
  place-items: center;

  @include s.margin(right, 1rem);

  & :global{

    .wrapper{

    }
  }
}
