@use '@/styles' as s;

.container {
  width: 100%;

  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :global {

    .features_wrapper {
      margin: 0 auto;
      width: 100%;
      max-width: s.f-unit(20rem);
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      gap: s.f-unit(2rem);

      .title{
        text-align: center;
      }

      .form {
        width: 100%;
        display: flex;
        flex-flow: column;
        gap: s.f-unit(1.2rem);

        .hor{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: s.f-unit(.7rem);

          & > *{
            flex: 1;
          }
        }
      }

      .control{
        width: 100%;
        margin-top: s.f-unit(2rem);
        display: flex;
        justify-content: space-between;

        button{
          padding-left: 2.1rem;
          padding-right: 2.1rem;
        }
      }
    }
  }
}
