$gray-light: rgba(237, 237, 237, 0.51);
$accent: #7963F0;
$accent-light: rgba(121, 99, 240, 0.08);
$secondary: rgba(185, 185, 185, 0.24);

$main-bg: #F5F7FB;
$contact-bg: #ECF0F3;
$orange  : #fd7f28;
