@use '@/styles' as s;

.container{
  width: 100%;

  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :global{

    .wrapper{

    }
  }
}

.control_btn{
  width: 100%;
  margin-top: s.f-unit(2rem);
  display: flex;
  justify-content: space-between;

  button{
    padding-left: 2.1rem;
    padding-right: 2.1rem;
  }
}

.step_header{
  //font-family: s.$fonts-gramatika;
  font-weight: 900;
  text-align: center;
  margin-bottom: 0;
}
