@use '@/styles' as s;

aside.container {
  width: 100%;
  border-right: 2px solid lighten(lightgray, 10);
  max-width: max-content;

  @include s.margin(top, 5rem);

  & :global {

    .dashboard_wrapper {
      max-width: 350px;
      //border: thin solid chocolate;
      padding: 1rem 2rem;
      @include s.padding(1rem, 2rem);

      @include s.media-breakpoint-up(lg){
        @include s.margin(left, 1rem);
      }

      .block_list{
        .list_item_btn{
          &:hover{
            background-color: rgba(121, 99, 240, 0.08);
             span {
              color: s.$clrs-accent;

            }
          }
          span{
            color: gray;
          }
        }
      }

      .sell_car {
        margin-top: s.f-unit(1.5rem);
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 112%;
        transform: translateX(-8%);
        padding: s.f-unit(1rem);
        border-radius: 10px;
        //background-color: lighten(lightgray, 10);
        background-color: s.$clrs-gray-light;

        color: gray;

        a{
          width: 100%;
        }

        .btn {
          border-radius: 8px;
          background-color: white;
          color: black;
          width: 100%;
        }

      }

    }
  }
}

.active{

  & :global{
    span{
      font-weight: 900 ;
      color: s.$clrs-accent !important;
    }
  }
}
